header{
    width: 100%;
    padding: 28px 8%;
    position: relative;
    
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobile_menu{
    display: none;
    opacity: 0;
    transition: opacity .9s ease;
    
   
}

.mobile_btn{
    display: none;
    
}

#nav_logo{
    font-size: 24px;
    color:#e9a209;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

/* ! Class JS */
.nav-item.active a{
    color: #1d1d1d;
    border-bottom:3px solid #ffe100 ;
}

@media screen and (max-width: 1170px){
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    .mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
     #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e9a209;
        position: absolute;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        left: 0;
        right: 0;
        top: 100px;
        gap: 30px;
        

    }
    #mobile_menu.vizivel{
        opacity: 1;
    }

    #mobile_nav_list li{
        list-style: none;
        text-align: center;
        margin: 20px;
        
    
    }
    #mobile_nav_list{
     display: flex;
     flex-direction: column;
     gap: 12px;
     margin: 12px 0px;
    }

    
}